body {
    font-family: 'PT Serif', serif;
    margin: 0;
}

.section-comon {
    display: flex;
}

.span{
    color: rgb(255, 132, 0);
}
.section-item-comon {
    width: 50%;
    margin: 2% 5%;
    align-self: center; 
}
.section-1-title {
    font-size: 40px;
    border-left:5px solid red ;
    border-radius: 3px;
    padding-left: 15px;
    
}

.section-comon img {
    width: 95%;
    height: 85%;
    
    
}

.explor {
    text-decoration: none;
    padding: 5px 20px;
    background-image: linear-gradient(red, rgb(253, 145, 4));
    
    border-radius: 3px;
    color: rgb(255, 255, 255);
}
/*  my mission*/
.my-mission {
    text-align: center;
    font-size: 50px;
}

.mission-img {
    padding-right:60% ;
}
.mission-comon{
    padding: 1.5%;
    border-radius: 10px;
}
#mission1{
    background: rgb(189, 176, 249);
}
#mission2{
    background: rgb(247, 200, 208);
}
#mission3{
    background: rgb(238, 249, 153);
}
/*  section 3 */
.devlop-title {
    font-size: 30px;
    align-self: center;

}

#coding {
    margin: 50px 5%;
}

.section-3 {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 350px;
    background-position-y: center;
}